@model List<Appointments> 
<head>
    <link href="@Url.Content("~/css/AppCreate.css")" rel="stylesheet" type="text/css" />
</head>
<form method="post" asp-action="AppCreate">
  

    <button type="submit" class="btn btn-primary">Save</button>
</form>