<head>
    <link href="@Url.Content("~/css/Home.css")" rel="stylesheet" type="text/css" />
</head>
<div class="center">
    <h3> Welcome To Our Family </h3>
    <p> We started our small project before 4 years In California with small team.Actually it's just me and my freinds Leo and Julie . </br> After the California experience we wanted to expand.In this point our team had completed 24 members in 3 different branches . </p>
    <h5>And Now We Came To Have A New Experience Here</h5>
    <div class="links">
        <button><a asp-controller="Home" asp-action="Servises">For Servies</a></button>
        <button><a asp-controller="Home" asp-action="Team">For Team</a></button>
        <button><a asp-area="Identity" asp-page="/Pages/Account/Login.cshtml" >Join Us</a></button>
    </div>
</div>
