using b221210566_5_.Models.DTOs
@model UserRegisterDTO
@{
    List<SelectListItem> deps = (List<SelectListItem>)ViewData["DepeartmentSelectList"];
}
<form asp-controller="Employee" asp-action="AddEmployee">
    <label asp-for="FirstName"></label>
    <input class="form-control" asp-for="FirstName" />
    <span asp-validation-for="FirstName" class="text-danger"></span><br />


    <label asp-for="LastName"></label>
    <input class="form-control" asp-for="LastName" />
    <span asp-validation-for="LastName" class="text-danger"></span><br />


    <label asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span><br />


    <label asp-for="Password"></label>
    <input class="form-control" asp-for="Password" />
    <span asp-validation-for="Password" class="text-danger"></span><br />

    <label asp-for="ConfirmPassword"></label>
    <input class="form-control" asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br />
    

    <select id="departmentSelect" name="Department" asp-items = "@deps" asp-for="Department">
    </select>

    <input type="submit" value="Submit" />
</form>
@{
    var mesage = TempData["Mesage"] as string;
}
@if (!string.IsNullOrEmpty(mesage))
{
    if (mesage.Contains("başarıyla"))
    {
        <div class="alert alert-success" role="alert">
            @mesage
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @mesage
        </div>
    }
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}