
.navbar {
    backdrop-filter: blur(9px);
}

.Holder {
    backdrop-filter: blur(9px);
    background-color: rgba(245, 245, 220, 0.2);
    justify-self: center;
    padding: 30px;
    display:flex;
}

#btn {
    background-color: #e0b68c;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}
