body {
    background-image: url("https://i.pinimg.com/736x/9d/04/ad/9d04ad766bf63af247e87717483aa128.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    backdrop-filter: blur(9px);
}

#account {
    backdrop-filter: blur(9px);
    background-color: rgba(245, 245, 220, 0.2);
    border-radius: 10%;
    margin-top: 90px;
    padding: 20px;
}

.txt {
    color: white;
    text-align: center;
}

.form-Remember {
    color: white;
}

#login-submit {
    background-color: #e0b68c;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.links p a {
    text-decoration-line: none;
    color: white;
}
