html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url("https://i.pinimg.com/736x/9d/04/ad/9d04ad766bf63af247e87717483aa128.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    backdrop-filter: blur(9px);
}
.navbar a nav-link {
    color: white !important;
}
.footer img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 15px;
}

form {
    backdrop-filter: blur(9px);
    background-color: rgba(245, 245, 220, 0.2);
    justify-self: center;
    padding: 30px;
}